data/
pretrained_models/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# data
data/

# logs
logs/
outputs/

# env
.env
.autoenv
